


.intro{
    width: 1230px;
    height: 574px;
    flex-shrink: 0;
    border: 1px solid var(--stroke-primary, #E4E7EE);
    background: var(--background-white, #FFF);
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}