.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    .list{
        display: flex;
        width: 1075px;
        flex-wrap: wrap;
        // justify-content: space-between;
        .product{
            flex-basis: calc(25% - 40px); /* 20px là khoảng cách giữa các sản phẩm và 20px là margin bên trái và bên phải của mỗi sản phẩm */
            box-sizing: border-box;
            position: relative;
            display: flex;
            width: 228.297px;
            height: 390px;
            padding: 10px;
            align-items: flex-start;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 10px;
            background: var(--background-white, #FFF);
            margin: 20px;
            
            overflow: hidden;
            transition: transform 0.2s ease-in-out;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            .heart{
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                position: relative;
                right: 5px;
            }
            .productImg{
                margin-left: 30px;
                margin-top: 20px;
            }
            .price{
                color: var(--background-main-color, #FF8C00);
        
                /* medium 18 */
                font-family: Arial;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                position: absolute;
                left: 20px;
                top: 200px;
            }
            .detail{
                color: var(--text-main, #1E1E1E);
                font-family: Arial;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                position: absolute;
                left: 20px;
                top: 230px;
                padding-right: 10px;
            }
            .quantity{
                color: var(--text-secondary, #6C757D);
                font-family: Arial;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                position: absolute;
                left: 20px;
                top: 280px;
            }
            .cart-button{
                display: flex;
                width: 130px;
                height: 40px;
                padding: 10px 0px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 8px;
                background: var(--background-main-color, #FF8C00); 
                position: absolute;
                left: 20px;
                top: 330px;
                &:hover{
                    background-color: #333333;
                }
                .cart-text{
                    color: var(--background-white, #FFF);
                    font-family: Arial;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.16px;
                }
                
            }
            .shopping-cart{
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    position: absolute;
                    right: 20px;
                    top: 330px;
                }
        }
    }
}


.product:hover, .product:hover .child {
    transform: scale(1.05);
  }