
.hot{
    width: 100%;
    border-radius: 12px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #ffffff;
    display: flex;
    position: relative;
    margin-bottom: 80px;
    
    .hot-list{
        width: 1475px;
        height: 389px;
        flex-shrink: 0;
        // display: block;
        gap: 18px;
        background: #333333;
        border-radius: 12px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        .title{
            color: var(--text-main, #ffffff);

            /* medium 28 */
            font-family: Arial;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px; /* 128.571% */
            margin-bottom: 18px;
            margin-left: 20px;
            margin-top: 8px;
            display: block;
        }
        .list{
            width: 1475px;
            height: 218px;
            flex-shrink: 0;
            display: flex;
            gap: 46.3px;
            margin-bottom: 18px;
            margin-left: 35px;
            .product{
                position: relative;
                display: flex;
                width: 134.882px;
                height: 200px;
                padding: 9px 0px;
                flex-direction: column;
                align-items: center;
                gap: 3px;
                flex-shrink: 0;
                border-radius: 10px;
                background: var(--background-white, #FFF);
                overflow: hidden;
                transition: transform 0.2s ease-in-out;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                &:hover{
                    transform: scale(1.1);
                  }
            }
        }
        .more{
            display: flex;
            width: 90%;
            padding: 12px 683px 11px 732px;
            justify-content: flex-end;
            align-items: center;
            border-radius: 10px;
            background: #FFF;
            margin-left: 30px;
            margin-right: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            .more-text{
                color: #000;

                /* medium 18 */
                font-family: Arial;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}