.details {
    width: 1230px;
    height: 769px;
    flex-shrink: 0;
    border-radius: 10px;
    // background: var(--background-secondary, #ffffff);
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-top: 14px;
    .details-image {
        width: 546px;
        height: 693px;
        flex-shrink: 0;
        position: relative;
        .details-img {
            width: 546px;
            height: 546px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            .img {
                display: flex;
                width: 400px;
                height: 400px;
                padding: 15px 6px 14.931px 7px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            }
            .like {
                position: absolute;
                display: flex;
                width: 32px;
                height: 32px;
                padding: 4px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 4px;
                background: var(--background-white, #fff);
                top: 20px;
                right: 20px;
            }
            .share {
                position: absolute;
                display: flex;
                width: 32px;
                height: 32px;
                padding: 4px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 4px;
                background: var(--background-white, #fff);
                top: 72px;
                right: 20px;
            }
        }
        .small-img {
            width: 546px;
            height: 105px;
            flex-shrink: 0;
            gap: 42px;
            display: flex;
            flex-direction: row;
            margin-top: 40px;

            .pic1 {
                display: flex;
                width: 105px;
                height: 105px;
                padding: 18px 10px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 4px;
                background: var(--background-white, #fff);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                &:hover {
                    // background: var(--background-secondary, #ECF4FF);
                    border: 1px solid var(--background-main-color, #dbdbdb);
                }
            }
        }
    }
    .info {
        width: 546px;
        height: 693px;
        flex-shrink: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        .title {
            margin-bottom: 15px;
            color: var(--text-main, #ff8c00);

            /* medium 28 */
            font-family: Andika;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 128.571% */
        }
        .des {
            font-style: italic;
        }
        .color-title {
            width: 230px;
            height: 46px;
            gap: 79px;
            display: flex;
            margin-top: 16px;
            align-items: center;
            .colorTitle {
                color: var(--text-main, #1e1e1e);

                /* medium 18 */
                font-family: Andika;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .colorName {
                color: var(--text-secondary, #6c757d);

                /* medium 18 */
                font-family: Andika;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .color {
            width: 230px;
            height: 46px;
            flex-shrink: 0;
            display: flex;
            gap: 12px;
            // margin-top: 10px;
            .color1 {
                width: 46px;
                height: 46px;
                border-radius: 8px;
                background-color: #333333;
            }
        }
        .type {
            color: var(--text-main, #1e1e1e);
            font-family: Andika;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 20px;
            .thuongHieu {
                font-size: 32px;
            }
            .Thuonghieu {
                color: #ff8c00;
            }
        }
        .typeDetails {
            color: var(--background-main-color, #000);
            font-family: Andika;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 20px;
            .salary {
                color: #ff8c00;
                // text-decoration: underline;
                font-size: 34px;
            }
        }
        .config {
            width: 506px;
            height: 52px;
            display: flex;
            gap: 38px;
            margin-top: 32px;
            .config1 {
                display: flex;
                width: 312px;
                height: 52px;
                padding: 1px 2px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 8px;
                background: var(--background-white, #fff);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                .configDetails {
                    width: 52px;
                    height: 52px;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    &:active {
                        background-color: #ff8c00;
                    }
                }
            }
            .config2 {
                display: flex;
                padding: 14px 29px 14px 20px;
                gap: 20px;
                border-radius: 10px;
                background: #fff;
                width: 158px;
                justify-content: center;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                // &:hover {
                //     // background-color: #333333;
                // }
                .add {
                    display: flex;
                    align-items: center;
                    font-size: 28px;
                }
            }
        }
        .shopping {
            width: auto;
            height: 52px;
            display: flex;
            gap: 38px;
            margin-top: 42px;
            margin-bottom: 42px;
            justify-content: space-between;
            .buy {
                display: flex;
                // padding: 15px 72.5px 16px 72.5px;
                padding-left: 52px;
                padding-right: 52px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background: var(--background-main-color, #ff8c00);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease;
                &:hover {
                    // background-color: #333333;
                    transform: scale(1.1);
                }
                .buyText {
                    color: var(--background-white, #fff);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .addCart {
                display: flex;
                // padding: 15px 72.5px 16px 72.5px;
                padding-left: 52px;
                padding-right: 22px;
                text-align: center;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                // gap: 30px;
                background: var(--background-main-color, #ff8c00);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease;
                &:hover {
                    // background-color: #333333;
                    transform: scale(1.1);
                }
                .addText {
                    color: var(--background-white, #fff);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .more {
            margin-top: 12px;
            width: 346px;
            height: 24px;
            flex-shrink: 0;
        }
    }
}
.smallImg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.customBtnDiv {
    // display: flex;
    // flex-direction: row;
    // width: 500px;
    height: 30vh;
    .customBtn {
        // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        height: 42px;
        border-radius: 8px;
        border: 1px solid rgba(194, 194, 194, 0.8);
        text-align: center;
        padding: 10px 20px;
        margin-right: 10px;
    }

    .customBtn2 {
        height: 42px;
        background-color: #ff8c00;
        border-radius: 8px;
        text-align: center;
        padding: 10px 20px;
        margin-right: 10px;
        color: #fff;
    }
    .content {
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-main, #ff8c00);

        /* medium 28 */
        font-family: Andika;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px; /* 128.571% */
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-900%) scale(3);
        opacity: 0;
    }
}

.cartIcon {
    transition: opacity 0.3s ease;
}

.slide_up {
    animation: slideUp 1s ease forwards;
}
