.main {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding-top: 180px;
}
