.filters {
    margin-top: 20px;
    display: flex;
    width: 280px;
    height: 1035px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: var(--background-white, #fff);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    .filter {
        display: flex;
        width: 230px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .filter1 {
            display: flex;
            width: 230px;
            padding: 10px 5px 10px 10px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border-bottom: 1px solid var(--stroke-primary, #e4e7ee);
            .filter1-content {
                display: flex;
                width: 210px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .filter1-katalog {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    align-self: stretch;
                    color: var(--text-main, #ff8c00);

                    /* medium 18 */
                    font-family: Forte;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .filter1-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;
                    align-self: stretch;
                    .filter1-category {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                    }
                }
            }
        }
        .filter2 {
            // display: flex;
            // align-items: center;
            // padding-left: 10px;
            padding-top: 10px;
            gap: 10px;
            width: 230px;
            height: 119px;
            border-top: 1px solid var(--stroke-primary, #e4e7ee);
            border-bottom: 1px solid var(--stroke-primary, #e4e7ee);
            .salary {
                display: inline-flex;
                width: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                .from {
                    display: flex;
                    width: 81px;
                    padding: 5px 10px;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 3px;
                    border: 1px solid var(--stroke-primary, #e4e7ee);
                    background: var(--background-white, #fff);
                }
                .vector {
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 9px;
                    height: 1px;
                    flex-shrink: 0;
                    fill: var(--text-main, #ff8c00);
                }
                .to {
                    display: flex;
                    width: 130px;
                    padding: 5px 10px;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 3px;
                    border: 1px solid var(--stroke-primary, #e4e7ee);
                    background: var(--background-white, #fff);
                }
            }
        }
        .filter3 {
            display: flex;
            width: 230px;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border-top: 1px solid var(--stroke-primary, #e4e7ee);
            border-bottom: 1px solid var(--stroke-primary, #e4e7ee);
            .search {
                display: flex;
                padding: 8px 10px;
                justify-content: center;
                align-items: center;
                gap: 109px;
                border-radius: 10px;
                border: 1px solid var(--stroke-primary, #e4e7ee);
                background: var(--background-white, #fff);
                .input {
                    width: 57px;
                }
            }
            .check {
                display: flex;
                width: 210px;
                padding-right: 0px;
                align-items: flex-start;
                flex-shrink: 0;
                .check-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    flex: 1 0 0;
                    .check-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        .check-div {
                            display: flex;
                            align-items: flex-start;
                            gap: 10px;
                            flex: 1 0 0;
                        }
                        .qty {
                            color: var(--text-secondary, #6c757d);
                            font-family: Arial;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }
        .filter4 {
            display: flex;
            width: 230px;
            padding: 10px 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border-top: 1px solid var(--stroke-primary, #e4e7ee);
            border-bottom: 1px solid var(--stroke-primary, #e4e7ee);
            .filter4-content {
                display: flex;
                width: 229px;
                padding: 0px 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                .filter4-tick {
                    display: flex;
                    // justify-content: center;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    .tick {
                        width: 40px;
                        height: 20px;
                    }
                }
            }
        }
        .filter5 {
            display: flex;
            width: 230px;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border-top: 1px solid var(--stroke-primary, #e4e7ee);
            border-bottom: 1px solid var(--stroke-primary, #e4e7ee);
            .filter5-content {
                display: flex;
                width: 210px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }
}

.filter-text {
    color: var(--text-main, #1e1e1e);
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}
.filter-arrow {
    width: 24px;
    height: 24px;
}
.slider {
    width: 100%;
    height: 20px;
    background-color: #ff8c00;
}
