

.headerZ{
    position: relative;
    width: 100%;
    height: 670px;
    display: flex;
    align-items: center;

    .header{
        position: relative;
        position: fixed;
        top: 0;
        z-index: 3;
        display: flex;
        width: 1920px;
        padding: 13px 189px 19px 188px;
        flex-direction: column;
        align-items: flex-start;
        // gap: 9px;
        // background: #e27d02;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
        transition: background-color 0.3s ease;
        .header-1{
            width: 1542px;
            height: 53px;
            display: flex;
            .logo-img{
                margin-top: 8px;
                width: 90.999px;
                height: 35px;
                flex-shrink: 0;
            }
            .search{
                width: 566px;
                height: 46px;
                flex-shrink: 0;
                border-radius: 8px;
                // border: 1px solid var(--stroke-primary, #e27d02);
                background: var(--background-white, #FFF);
                position: relative;
                margin-left: 658.001px;
                display: flex;
                .search-button{
                    display: inline-flex;
                    height: 46px;
                    padding: 11px 15px 11px 18px;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    border-radius: 0px 8px 8px 0px;
                    background: var(--text-main, #FF8C00);
                    position: absolute;
                    right: 0;
                    // bottom: 0;
                    .search-icon{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .like{
                display: flex;
                width: 46px;
                height: 46px;
                padding: 11px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 8px;
                background: var(--background-secondary, #ffffff);
                margin-left: 22px;
            }
            .avatar{
                display: flex;
                width: 105px;
                padding: 13px 0px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background: var(--text-main, #FF8C00);
                height: 46px;
    
                margin-left: 22px;
                .text-logo{
                    color: #ffffff;
                    text-align: center;
                    font-family: Open Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .header-2{
            width: 1543px;
            height: 53px;
            display: flex;
            position: relative;
            .danh-muc{
                // display: flex;
                
                width: 149px;
                height: 57px;
                padding: 9px 95px 9px 18px;
                
                flex-shrink: 0;
                border-radius: 8px;
                // background: var(--text-main, #e27d02);
                position: relative;
                margin-top: 5px;
                .danhmuc-div{
                    margin-top: 3px;
                    display: inline-flex;
                    align-items: center;
                    .ba-que{
                        position: absolute;
                        left: 0;
                        width: 24px;
                        height: 24px;
                        flex-shrink: 0;
                        margin-right: 5px;
                        .menu-icon{
                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;
                        }
                    }
                    .danhmuc-text{
                        color: var(--background-white, #ffffff);
                        margin-left: 10px;
    
                        /* Open Sans */
                        font-family: Open Sans;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        white-space: pre;
                    }
                }
                .menu{
                    display: none;
    
                        &.active {
                            display: block;
                            // display: flex;
                            // z-index: 1000;
                            transition: z-index 0.3s ease;
                        }
                    position: absolute;
                    width: 254px;
                    height: 450px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    // border-radius: 12px;
                    border: 1px solid #D6D6D6;
                    background: #FFF;
                    left: 0;
                    top: 50px;
                    .menu-div{
                        position: relative;
                        // top: 0;
                        display: flex;
                        width: 254px;
                        height: 30px;
                        padding-left: 3px ;
                        align-items: center;
                        gap: 7px;
                        flex-shrink: 0;
                        border-bottom: 0.25px solid #C2C2C2;
                        
                        .menu-icon{
                            // display: flex;
                            width: 24px;
                            height: 24px;
                            justify-content: center;
                            align-items: center;
                            flex-shrink: 0;
                            // margin-bottom: 5px;
                        }
                        .arrow-icon{
                            width: 15px;
                            height: 15px;
                            // margin-top: 5px;
                            position: absolute;
                            right: 2px;
                        }
                        .menu-text{
                            white-space: nowrap;
                            display: inline-flex;
                            height: 23px;
                            // padding: 4px 27px 4px 26px;
                            padding-left: 3px;
                            justify-content: flex-end;
                            align-items: center;
                            color: #000;
                            font-family: Open Sans;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 100;
                            line-height: normal;
                            transition: transform 0.2s ease-in-out;
                            &:hover {
                                // background-color: #dddddd;
                                transform: scale(1.1); /* Zoom in 10% khi hover */
                                font-weight: bold;
                                color: #FF8C00;
                            }
                        }
                    }
                }
                .menu_details{
                    width: 1024px;
                    height: 450px;
                    border: 1px solid #D6D6D6;
                    background: #FFF;
                    display: none;
                        &.active {
                            // display: block;
                            display: flex;
                            z-index: 2;
                        }
                    position: absolute;
                    top: 0;
                    left: 253px;
                    .column1{
                        flex: 1;
                        display: flex;
                        width: 256px;
                        height: 450px;
                        padding-bottom: 0px;
                        flex-direction: column;
                        align-items: flex-start;
                        flex-shrink: 0;
                       
                        .products{
                            display: inline-flex;
                            padding: 0px 21px 25px 0px;
                            flex-direction: column;
                            align-items: flex-start;
                            .products-topic{
                                width: 235px;
                                display: flex;
                                height: 32px;
                                padding: 9px 118px 8px 29px;
                                align-items: center;
                                border-bottom: 0.5px solid #DEDEDE;
                                .topic-text{
                                    color: #ff8c00;
                                    font-family: Open Sans;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    margin-left: 20px;
                                    white-space: nowrap;
                                }
                            }
                            .products_details{
                                display: flex;
                                height: 21px;
                                padding: 3px 153px 3px 29px;
                                align-items: center;
                            }
                        }
                    }
                    .column2{
                        flex: 1;
                        display: flex;
                        width: 256px;
                        height: 450px;
                        padding-bottom: 0px;
                        flex-direction: column;
                        align-items: flex-start;
                        flex-shrink: 0;
                        
                        .products{
                            display: inline-flex;
                            padding: 0px 21px 25px 0px;
                            flex-direction: column;
                            align-items: flex-start;
                            .products-topic{
                                width: 235px;
                                display: flex;
                                height: 32px;
                                padding: 9px 118px 8px 29px;
                                align-items: center;
                                border-bottom: 0.5px solid #DEDEDE;
                                .topic-text{
                                    color: #ff8c00;
                                    font-family: Open Sans;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    margin-left: 20px;
                                    white-space: nowrap;
                                }
                            }
                            .products_details{
                                display: flex;
                                height: 21px;
                                padding: 3px 153px 3px 29px;
                                align-items: center;
                            }
                        }
                    }
                    .column3{
                        flex: 1;
                        display: flex;
                        width: 256px;
                        height: 450px;
                        padding-bottom: 0px;
                        flex-direction: column;
                        align-items: flex-start;
                        flex-shrink: 0;
                       
                        .products{
                            display: inline-flex;
                            padding: 0px 21px 25px 0px;
                            flex-direction: column;
                            align-items: flex-start;
                            .products-topic{
                                width: 235px;
                                display: flex;
                                height: 32px;
                                padding: 9px 118px 8px 29px;
                                align-items: center;
                                border-bottom: 0.5px solid #DEDEDE;
                                .topic-text{
                                    color: #ff8c00;
                                    font-family: Open Sans;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    margin-left: 20px;
                                    white-space: nowrap;
                                }
                            }
                            .products_details{
                                display: flex;
                                height: 21px;
                                padding: 3px 153px 3px 29px;
                                align-items: center;
                            }
                        }
                    }
                    .column4{
                        flex: 1;
                        display: flex;
                        width: 256px;
                        height: 450px;
                        padding-bottom: 0px;
                        flex-direction: column;
                        align-items: flex-start;
                        flex-shrink: 0;
                        
                        .products{
                            display: inline-flex;
                            padding: 0px 21px 25px 0px;
                            flex-direction: column;
                            align-items: flex-start;
                            .products-topic{
                                width: 235px;
                                display: flex;
                                height: 32px;
                                padding: 9px 118px 8px 29px;
                                align-items: center;
                                border-bottom: 0.5px solid #DEDEDE;
                                .topic-text{
                                    color: #ff8c00;
                                    font-family: Open Sans;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    margin-left: 20px;
                                    white-space: nowrap;
                                }
                            }
                            .products_details{
                                display: flex;
                                height: 21px;
                                padding: 3px 153px 3px 29px;
                                align-items: center;
                            }
                        }
                    }
                }
            }
            .menu-list{
                width: 100%;
                height: 57px;
                gap: 9px;
                text-align: center;
                align-items: center;
                .header-text{
                    color: #ffffff;
                    display: inline-block;
                    margin-right: 22px;
                    /* medium 18 */
                    font-family: Open Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    // margin-top: 8px;
                }
                .header-suoc{
                    color: #ffffff;
                    display: inline-block;
                    margin-right: 38px;
                    margin-top: 13px;
    
                    /* medium 18 */
                    font-family: Open Sans;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    // margin-top: 12px;
    
                }                  
            }
        }
    }
    .backGround{
        position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          
    }
    .backGround-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        position: relative;
        z-index: 1;
        // margin-top: 100px;
        margin-left: 500px;
        margin-right: 500px;
        .title1{
            color: var(--white, #FFF);
            text-align: center;
            font-family: Forte;
            font-size: 90px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .title2{
            color: var(--white, #FFF);
            text-align: center;
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
      }
    .text{
        color: #000;
        font-family: Open Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
    }
    .Text{
        color: #000;
        font-family: Open Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        white-space: nowrap;
    }
}
