.slider2 {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    // display: block;
    background: #ffffff;
    margin-bottom: 40px;

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 355px;
        flex-direction: row;
        background: linear-gradient(to top, #ffbf8c 60%, transparent 50%);
        width: 100%;
        .about {
            margin-left: 0px;
            width: 450px;
            // height: 650px;
            .aboutImg {
                width: 375px;
                height: 600px;
            }
        }
        .content {
            margin-top: 240px;
            background: rgba(255, 255, 255, 0.3);
            transition: transform 0.2s ease-in-out;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            border-radius: 24px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
            .title {
                display: flex;
                flex-direction: column;
                // align-items: flex-start;
                gap: 6px;
                .title1 {
                    color: var(--black, #333);
                    font-family: Open Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                .title2 {
                    // width: 700px;
                    color: var(--black, #333);
                    font-family: Open Sans;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                }
            }
            .text {
                color: #000;
                // text-align: center;s
                font-family: "Open Sans";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
            }
            .more {
                display: flex;
                align-items: flex-start;
                gap: 50px;
                .moreDiv {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 6px;
                    .moreTitle {
                        color: var(--button-main-hover, #ff8c00);
                        font-family: Open Sans;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px; /* 100% */
                    }
                    .moreText {
                        color: var(--black, #333);
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px; /* 162.5% */
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
