
.slider1{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    display: block;
    background: #ECF4F4;
    display: flex;
    position: relative;
    .slider{
        display: flex;
        width: 1466.189px;
        height: 496px;
        padding: 0px 73.906px 36px 73.905px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        position: relative;
        top: 48px;   
    }
    .arrow-right{
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        position: relative;
        right: 100px;
        top: 20px;
    }
    .arrow-left{
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        position: relative;
        left: 100px;
        top: 20px;
    }
    .bacham{
        position: absolute;
        display: flex;
        padding: 0px 6px 5px 0px;
        align-items: flex-start;
        gap: 11px;
        right: 897.5px;
        top: 430px;
        .black-radius{
            width: 15px;
            height: 15px;
            border-radius: 100px;
            background: #4A90E2;
            position: relative;
        }
        .white-radius{
            width: 15px;
            height: 15px;
            border-radius: 100px;
            background: #CCC;
        }
    }
}