
.slider2{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    display: block;
    background: #ffffff;
    display: flex;
    position: relative;
    margin-top: 50px;
    // margin-bottom: -70px;

    .slider{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 325px; 

        .about{
            width: 450px;
            // height: 650px;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            .title{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;
                .title1{
                    color: var(--black, #333);
                    font-family: Open Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                .title2{
                    width: 700px;
                    color: var(--black, #333);
                    font-family: Open Sans;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                }
            }
            .text{
                width: 700px;
                height: 164px;
                color: var(--black, #333);
                font-family: Open Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 177.778% */
            }
            .more{
                display: flex;
                align-items: flex-start;
                gap: 50px;
                .moreDiv{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 6px;
                    .moreTitle{
                        color: var(--button-main-hover, #FF8C00);
                        font-family: Open Sans;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px; /* 100% */
                    }
                    .moreText{
                        color: var(--black, #333);
                        font-family: Open Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px; /* 162.5% */
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    
}