
.slider1{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    display: block;
    // background: #3C96FE;
    transition: background 0.3s ease; /* Thêm transition cho background */
    display: flex;
    position: relative;
    // border-top: 0.5px solid #ecf4f4;
    margin-bottom: 50px;
    margin-top: -120px;
    .slider{
        display: flex;
        width: 1009px;
        height: 294px;
        z-index: 1; /* Đảm bảo khối đè lên được hiển thị trên khối chứa ảnh */
    }
    
}